# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
.venv/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDEs
.idea/
.vscode/

# Pytest
.pytest_cache/
